
:root {
    --bluey-: rgb(46, 46, 140);
    --snow: #f5f0eef8;
    --silver: #7996f6;
    --fadeblue-: rgb(77, 77, 249);
    --black-: rgb(7, 7, 17);
    --white-: rgb(255, 255, 255);
    --gray- : rgb(112, 107, 107);
    --blue-: rgb(0, 0, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}
header{
    margin: auto;
}
#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-);
    box-shadow: none;
    padding: 30px
}
#menu {
  display: flex;
  gap: 5px;
}
.menu-buttons {
    display: flex;
    
}
.hamburger-menu button{
    display: none;
}
#headericon{
    display: none;
}
.headerleft{
    display: flex;
    align-items: center;
}
.headerlogo{
    width: 70px;
    height: auto;
}
.headerbtn {
  display: flex;
  gap: 10px;   /* adds space between Login and Sign-Up */
}
.headerbtns{
  padding: 10px;
  width: 100px;
  max-width: 100px;
  background-color: var(--bluey-);
  color: var(--snow);
  border-radius: 10px;
  border: none;
  transform: translate(0, 0);
  transition: transform 0.6s, border-color 0.3s, background-color 0.3s, color 0.3s;
}
.headerbtns:hover{
    transform: translate(0px, -10px);
    color: var(--bluey-);
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--bluey-);

}

header ul{
    display: flex;
    gap: 5px;
}
header ul li{
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: var(--black-);
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
}
.header-link:last-child{
    display: block;
}
.header-link a:hover{
    background-color: var(--bluey-);
    color: var(--white-);
    font-weight: bolder;
}
/* Section1 */

.section1{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 20px;
}
.sec1left{
    width: 100%;
    max-width: 500px;
}
.sec1left p{
    font-size: 18px;
    font-weight: 100;
    opacity: 0.8;
}
.sec1btndiv{
    padding-block: 20px;
}
.sec1leftbtn{
    color: var(--white-);
    padding: 15px;  
    background-color: var(--bluey-);
    border-radius: 10px;
    transform: translate(0, 0);
    transition: transform 0.6s;
}
.sec1leftbtn:hover{
    transform: translate(0px, -10px);
}
.sec1right{
    width: 100%;
}
.sec1right img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
/* section two */
.section2{
    width: 40%;
    margin: auto;
    padding-block: 70px;
}
#section2 h2{
    font-size: 30px;
    font-weight: 900;
    padding-block: 10px;
}
#sec2content li{
    font-size: 20px;
}
/* section3 start */
#sectionIII{
    /* background-image: linear-gradient( 0deg, rgb(0, 0, 0, 0.8) 30%, rgb(0, 0, 255, 0.6)); */
    background-color: rgb(217, 217, 217);
    padding-block: 70px;
}
.section3 h2{
    font-size: 40px;
    line-height: 60px;
    color: transparent;
    background: linear-gradient(to right , blue, red, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}
.section3Grid{
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: outset 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 30px 30px;
    color: var(--black-);
    padding: 50px;
}
.sec3div{
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    display: block;
    align-items: center;
    background-color: var(--white-);
    opacity: 0.9;
    transition: transform 0.6s ease;
}
.sec3div p{
    font-weight: 700;
    opacity: 0.7;
}
.sec3div:hover{
    transform: translate3d(to left 100% 50%);
    color: var(--white-);
    background-image: linear-gradient( 0deg, black 30%, blue);
    background-position: left;
    background-size: 200% 100%;
    transition: 90ms ease-in-out;
    cursor: default;
    transform: translate(0px, -7px);
    transition: transform 0.6s;

}
.sec3div a{
    text-decoration: none;
    color: var(--white-);
}
.sec3div:hover .iconStyle{
    background-color: var(--white-);
    color: var(--bluey-);
    border: 1px solid var(--bluey-);

}
.iconStyle{
    display: block;
    align-items: center;
    background-color: var(--bluey-);
    font-size: 40px;
    padding: 10px;
    border: 1px solid var(--bluey-);
    border-radius: 1000px;
    color: var(--white-);
    margin-bottom: 12px;
}
/* sectionIV started */
#sectionIV{
    padding-block: 50px;
}
#sectionIV-content{
    border: 1px solid black;
    width: 40%;
    margin: auto;
    padding: 70px;
    justify-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(images/masswiftlogo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
#sectionIV-content h4{
    font-size: 40px;
    line-height: 50px;
    color: blue;
    text-align: center;
    
}
#sectionIV-content p{
    color: var(--white-);
    text-align: center;
    padding-block: 20px;
    font-weight: 900;
}
#sectionIV #register{
    display: flex;
    gap: 30px;
    padding-block: 30px;
}
#register button{
    padding: 15px;
    color: var(--blue-);
}
#register button:hover{
    background-color: var(--bluey-);
    color: white;
}


#register h5{
    color: var(--black-);
}
/* footer begin */
footer{
    background-color: var(--black-);
    color: var(--white-);
    padding: 50px;
}
#footerGrid{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#footerGrid a{
    color: var(--white-);
    text-decoration: none;
}
#footerGrid ul{
    padding-block: 20px;
}
#footerGrid ul li{
    list-style: none;
}
#footerseconddiv ul li a:hover{
    color: blue;
}
#footerthirddiv{
    text-align: right;
}
#footerfourthdiv{
    padding-block: 20px;
    text-align: center;
}
#footerfourthdiv p{
    text-align: center;
}
#footerfourthdiv i{
    gap: 50px;
}
#socials{
    padding-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
#socials i{
    font-size: 25px;
    cursor: pointer;
}
/* media Query for mobile devices */
@media screen and (min-width: 320px) and (max-width: 540px){
.headerleft{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#menu .headerbtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
#menu {
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: var(--bluey-) transparent;

  /* For Chrome, Edge, Safari */
}
#menu::-webkit-scrollbar {
  width: 6px;
}
#menu::-webkit-scrollbar-thumb {
  background: var(--bluey-);
  border-radius: 4px;
}

#menu .headerbtns {
  background: var(--snow);
  color: var(--blue-);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

#menu .headerbtns:hover {
  background: var(--bluey-);
  color: var(--white-);
}
.menu-buttons {
  display: none; /* hidden by default */
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  background: var(--blue-);
}

.menu.show  .menu-buttons {
  display: flex; /* show only when menu is open */
}

#header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to right, silver, blue);
}   
header ul li a{
    color: var(--white-);

}
.headerleft img{
    width: 70px;
}
header{
    background-image: linear-gradient(to right, blue, silver);
    margin: 0%;
    padding: 5px;
    
}
header h1{
display: none;
}
.hamburger-menu button {
  display: block;
  font-size: 30px;
  cursor: pointer;
  background: var(--snow);
  color: var(--black-);
  border: none;
  padding:  10px;
  z-index: 1001; /* keep above menu */
}

/* Sidebar menu hidden by default */
.menu {
  display: flex;
  flex-direction: column;
  position: fixed;       /* stick to the viewport */
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;          /* sidebar width */
  background: var(--blue-);
  border-right: 1px solid #ccc;
  transform: translateX(-100%);   /* hide offscreen */
  transition: transform 0.5s ease;
  z-index: 1000;
  padding-top: 20px; /* space below header */
}

/* Show menu */
.menu.show {
  transform: translateX(0);       /* slide into view */
}

/* Menu items */
.menu li {
  list-style: none;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.menu li a {
  display: block;
  color: var(--white-);
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  background: var(--bluey-);
  color: var(--white-);
}


/* section one start */
.section1{
    width: 100%;
    padding-inline: 10px;
    padding-block: 30px;
    display: block;
    gap: 50px;
}
.sec1right img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* section 2 start */
.section2{
    width: 90%;
    padding-inline: 10px;
    padding-block: 40px;
}
/* section 3 start */
#sectionIII{
    padding-block: 20px;
}
.section3Grid{
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    padding: 50px;
}
/* section IV start*/
#sectionIV{
    padding-block: 50px;
}
#sectionIV-content{
    width: 100%;
    padding: 40px;
    justify-items: center;
}
.section3 h2{
    font-size: 30px;
    line-height: 40px;
}
#sectionIV #register{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-block: 10px;
}
#register button{
    padding: 10px;
}
.sec1leftbtn{
    transform: none;
}
/* header links */
/* header ul{
    display: block;
    width: 100%;
    gap: 10px;
    
}
header ul li{
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: var(--black-);
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
} */

}
/* media Query for tablets */
@media screen and (min-width: 550px) and (max-width: 1300px) {
.headerleft{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#menu .headerbtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

#menu .headerbtns {
  background: var(--snow);
  color: var(--blue-);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}


#menu .headerbtns:hover {
  background: var(--bluey-);
  color: var(--white-);
}
.menu-buttons {
  display: none; /* hidden by default */
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  background: var(--blue-);
}

.menu.show  .menu-buttons {
  display: flex; /* show only when menu is open */
}

#header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to right, silver, blue);
}   
header ul li a{
    color: var(--white-);

}
.headerleft img{
    width: 70px;
}
header{
    background-image: linear-gradient(to right, blue, silver);
    margin: 0%;
    padding: 5px;
    
}
header h1{
display: none;
}
.hamburger-menu button {
  display: block;
  font-size: 30px;
  cursor: pointer;
  background: var(--snow);
  color: var(--black-);
  border: none;
  padding:  10px;
  z-index: 1001; /* keep above menu */
}

/* Sidebar menu hidden by default */
.menu {
  display: flex;
  flex-direction: column;
  position: fixed;       /* stick to the viewport */
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;          /* sidebar width */
  background: var(--blue-);
  border-right: 1px solid #ccc;
  transform: translateX(-100%);   /* hide offscreen */
  transition: transform 0.5s ease;
  z-index: 1000;
  padding-top: 30px; /* space below header */
}

/* Show menu */
.menu.show {
  transform: translateX(0);       /* slide into view */
}

/* Menu items */
.menu li {
  list-style: none;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.menu li a {
  display: block;
  color: var(--white-);
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  background: var(--bluey-);
  color: var(--white-);
}

/* section one */
.sec1right img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


#sectionIV-content{
    width: 70%;
}
}